h1{
    color: blue;
}
[title|="forma"]{
    background-color: yellow;
}
p[lang|=it]{
    color:blue;
}
[title|=dugmeLink]{
    border: 5px solid green;
}
input[type=text]{
    width: 150px;
    display: block;
    margin-bottom: 5px;
    background-color: yellow;
}
input[type=button]{
    width: 120px;
    margin-left: 35px;
    display: block;
}